<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" 
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="~{layouts/default}">
		
		<section layout:fragment="contents" class="contents d-flex justify-content-center">
			<div class="post-box my-5" id="memoDetail" th:data-post-id="${memo.id}">
				<h1 class="text-center mt-3">메모 상세</h1>
				<input type="text" placeholder="제목을 입력하세요" class="form-control mt-3" id="inputTitle" th:value="${memo.title}">
				<textarea rows="10" placeholder="내용을 입력하세요" class="form-control mt-2" id="inputContents" th:text="${memo.contents}">메모 내용입니다.</textarea>
				<img th:src="${memo.imagePath}">
				<input type="file" class="mt-2">
				<div class="d-flex justify-content-between mt-3">
					<button type="button" class="btn btn-danger" id="deleteBtn">삭제</button>
					<div>
						<a class="btn btn-secondary" href="/memo/post/list-view">목록으로</a>
						<button type="button" class="btn btn-secondary" id="saveBtn" >수정</button>
					</div>
				</div>
			</div>
		</section>
		
		<script layout:fragment="script">
			$(document).ready(function(){
				
				$("#deleteBtn").on("click",function(){
					
					let id = $("#memoDetail").data("post-id");
					
					$.ajax({
						type:"delete"
						, url:"/memo/post/delete"
						, data: {"id":id}
						, success: function(data){
							if(data.result == "success"){
								location.href = "/memo/post/list-view"
							}else{
								alert("삭제 오류!!");
							}
						}
						, error: function(){
							alert("수정 에러!!");
						}
					})
					
				});
				
				$("#saveBtn").on("click", function(){
					let title = $("#inputTitle").val();
					let contents = $("#inputContents").val();
					
					let id = $("#memoDetail").data("post-id");
				
					$.ajax({
						type:"put"
						, url: "/memo/post/update"
						, data: {"id":id, "title":title, "contents":contents}
						, success:function(data){
							if(data.result == "success"){
								location.reload();							
							} else{
							alert("수정 오류!!");
							}
						}
						, error: function(){
							alert("수정 에러!!");
						}
					})			
				})
				
				
			});
			
		</script>
</html>